@import "../styles/custom-media.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  padding: 1em;
  /* display: flex; */
  /* flex-direction: row; */
  background: rgb(17, 17, 17);
  transition: all ease 1s;
  @media (--media-min-medium) {
    flex-direction: row;
  }
}

.root:hover {
  background: rgb(38, 0, 255);
}

.title {
  composes: responsiveTitle1 from "./typography.module.css";
}

.project-detail {
  padding: 2.5em;
  /* width: 100%; */
  color: white;
  border: solid pink;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--media-min-medium) {
    width: 40%;
  }
}

.title {
  min-width: 20%;
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  text-align: center;
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
  @media (--media-min-medium) {
    text-align: right;
  }
}
